<div class="each_note_div">
  <div class="each_description_div">
    <div class="description_wrapper">
      <div class="each_checkbox_div" *ngIf="editMode">
        <div class="form-group">
          <input type="checkbox" id="javascript">
          <label for="javascript"></label>
        </div>
      </div>
      <div class="to_do_section_box">
        <div class="to_do_heading">
          <span>To-Do</span>
        </div>
        <div class="due_date_box"> Due 07/01</div>
      </div>
      <div class="note_description">
        <span>
          This is a note and the teacher has added some students to it.
        </span>
      </div>
    </div>
    <div class="due_date">
      <span>
        01/02
      </span>
    </div>
  </div>
</div>