/* You can add global styles to this file, and also import other style files */
html,
body {
    background: #f0f4f7;
    margin: 0;
    padding: 0rem;
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
    font-family: sans-serif
}
@import "~ng-pick-datetime/assets/style/picker.min.css";